{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}

    <head lang="en">
	    <meta charset="UTF-8" />
		<title>
		Is This Keanu Reeves?
		</title>
		{% block title %} - Top Keanu {% endblock %}
	</head>
	{% block welcome %}
	<div id="all">
		<div class="container">
		<div class="row">
			<h1 class="display-3">Is This Keanu Reeves?</h1>
			<br />
			<h1 class="display-6"> - Top Keanu Reeves </h2>
		 </div>

      </div>
	  </div>
	{% endblock %}
	{% block body_block %}
	

	  
	  
	  
	  
	  
    <!--<div class="container">-->
	<div class="container">
		{% if items %}
		{% for item in items %}
		{% if item.5 %}
		</div>
		{% endif %}
		{% if item.4 %}
		<div class= "{{ item.4|default:"" }}">
		{% endif %}
		<div class="col-md-4">
				<h2>{{ item.0 }}</h2>
					<a href="{% url 'index' %}" >
					<img class="img-fluid" src="{{ MEDIA_URL}}{{ item.1 }}" alt="Picture of a keanu" />
					<p><a class="btn btn-secondary" href="#" role="button">Page &raquo;</a><p>Rating = {{ item.2 }}</p></p>
					
			</div>
		
		{% endfor %}
		</div>
	    {% else %}
		<strong>There are no pictures present.</strong>
	    {% endif %}
		<div class="row">
		<h4> You take the red pill—you stay in Wonderland, and I show you how deep the rabbit hole goes.</h4>
	  </div>
	    </div>

    </div>

{% endblock %}