{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}

    <head lang="en">
	    <meta charset="UTF-8" />
		<title>
		Is This Keanu Reeves?
		</title>
		{% block title %} - Top Keanu {% endblock %}
	</head>
	{% block welcome %}
	<div id="all">
		<div class="container">
		<div class="row">
			<h1 class="display-3">Is This Keanu Reeves?</h1>
			<br />
			<h1 class="display-6"> - Top Keanu Reeves </h2>
		 </div>

      </div>
	  </div>
	{% endblock %}
	<h4 > You take the red pill—you stay in Wonderland, and I show you how deep the rabbit hole goes.</h4>
	{% block body_block %}
	
	  
    <!--<div class="container">-->
	<div class="container">
		{% if items %}
		{% for item in items %}
		{% if item.5 %}
		</div>
		{% endif %}
		{% if item.4 %}
		<div class= "{{ item.4|default:"" }}">
		{% endif %}
		<div class="col-md-4">
				<h2>{{ item.0 }}</h2>
					  <!--<a href="{% url 'index' %}" >-->
					<img class="img-fluid" src="{{ MEDIA_URL}}{{ item.1 }}" alt="Picture of a keanu" />
					{% if user.is_authenticated %}
					<p><button id="likes" data-catid="{{category.id}}"class="btn btn-outline-primary btn-sm" type="button">This is Keanu</button>
					<button id="dislikes" data-catid="{{category.id}}"class="btn btn-outline-danger btn-sm" type="button">Not Keanu</button></p>
					 <p id="like_count">Keanu-meter = {{ item.2 }}</p>
					{% endif %}
					
			</div>
		
		{% endfor %}
		</div>
	    {% else %}
		
		<span class="float-right"><strong>There are no pictures present.</strong></span>
	    {% endif %}
		<div class="row">
		<br>
		
		
	  </div>
	    </div>

    </div>

{% endblock %}