{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}

		
		<link rel="stylesheet" type="text/css" href= "{% static "css/style.css" %}"> <!-- CSS -->
		<link href="{% static 'css/image.css' %}" rel="stylesheet" type="text/css>
		
		{% block title %} - Not Keanu {% endblock %}
		
		{% block welcome %}
		<div class="container">
		<div class="row">
			<h1 class="display-3">Is This Keanu Reeves?</h1>
			<br />
			<h1 class="display-6"> - Kea-New!  </h2>
		 </div>
		</div>
		{% endblock %}
		
		{% block body_block %}
		
 	<div class="container">
		{% if items %}
		{% for item in items %}
		{% if item.5 %}
		</div>
		{% endif %}
		{% if item.4 %}
		<div class= "{{ item.4|default:"" }}">
		{% endif %}
		<div class="col-md-4">
				<h2>{{ item.0 }}</h2>
					<a href="{% url 'keanew' %}" >
					<img class="img-fluid" src="{{ MEDIA_URL}}{{ item.1 }}" alt="{{ item.0 }}" />
					<p><a class="btn btn-secondary" href="#" role="button">Page &raquo;</a><p>Rating = {{ item.2 }}</p></p>
					
			</div>
		
		{% endfor %}
		</div>
	    {% else %}
		<strong>There are no pictures that fall under this category</strong>
	    {% endif %}
		</div>

      
    </div> 
{% endblock %}