<!DOCTYPE html>
{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Upload
{% endblock %}
{% block body_block %}
	
	{% if user.is_authenticated %}
	
	<div class="header text-center px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h3 class="display-4">Share your keanureeves!</h3>
	       <div class="form-body">
		      <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
              <strong>Upload file:</strong> 
			  {% csrf_token %}
			  {{ upload_form.as_p }}
              <!--<input type="file" name="file" -->
                        <input type="submit" style="float:right;" value="Upload" />
              </form>
	        </div>
	
	{% else %}
		<p>You are not logged in.
		<br>Please Sign in or Sign up before uploading.
		</p>
	{% endif %}
	</div>
	
 
 {% endblock %}
	