{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}


{% block title_block %}My Profile{% endblock %}

{% block body_block %}
    {% if userProfile.values %}
        {% for details in userProfile.values %}
        <div class="container">
            <div class="header text-center px-3 py-3 pt-md-5 pb-md-4 mx-auto">
                <h3 class="display-4">My account</h3>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="card box-shadow">
                        {% if details.picture %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{ details.picture }}" alt=" profile picture">
                        {% else %}
                           <!-- If the picture is not present, load a placeholder -->
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}noimage.png" alt="No profile image">
                        {% endif %}
                        
						<div class="row user-account-info pb-3 border-bottom">
                        <div class="col-7">
                        <h2>Username: {{user.username }}</h2>

                        {% if user.email %}
                            <strong><em>Email address: {{ user.email }}</em></strong><br />
                        {% else %}
                            <strong><em>Email address: No e-mail provided</em></strong><br />
                        {% endif %}
                        <div class=" footer text-left">
                            <a class="btn btn-light btn-sm text-secondary" href="{% url 'edit_userprofile' %}" role="button">Edit</a>
                           
                          
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        Invaild.
    {% endif %}
{% endblock %}